
#Header {
    background-color: rgb(235, 236, 184);
    width: 100%;
    height: 90px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: medium;
    top: 0;
    position: fixed;
    z-index: 1000; /* Ensure it's above other elements */
}